@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --second-bg-color: #2F303A;
  --icon-color: #AFB1B8;
  --black-color: #000;
  --work-text-bg-color: rgba(47, 48, 58, 0.8);
  --modal-backdrope-bg-color: rgba(0, 0, 0, 0.2);
  --project-image-overley-color: rgba(33, 150, 243, 0.9);
  --input-form-footer-color: rgba(255, 255, 255, 0.6);
  --input-form-modal-color: rgba(117, 117, 117, 0.5);
  --font-family-base: Roboto, sans-serif;
  --font-family-additional: Raleway, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--font-family-base);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* "container" */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
}

.advantages__title--visually-hidden, .modal__form-input-checkbox--visually-hidden, .examples__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* header  */
.page-header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}

.page-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* site-nav */
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  list-style: none;
}

.site-navigation__item:not(:first-child) {
  margin-left: 50px;
}

.site-navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  Підкреслення  посилання поточної сторінки */
  /*  Підкреслення  посилання  сторінки  при hover */
}

.site-navigation__link:hover, .site-navigation__link:focus {
  color: var(--accent-color);
}

.site-navigation__link--current {
  color: var(--accent-color);
}

.site-navigation__link--current {
  position: relative;
}

.site-navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation__link--noncurrent {
  position: relative;
}

.site-navigation__link--noncurrent::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation__link--noncurrent:hover::after {
  opacity: 1;
}

.site-navigation__link--noncurrent:focus::after {
  opacity: 1;
}

/* contacts list */
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 305px;
  list-style: none;
}

.contacts-list__item + .contacts-list__item {
  margin-left: 30px;
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__text {
  margin-left: 10px;
}

.contacts-list__icon {
  fill: currentColor;
}

.logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 145px;
  color: var(--black-color);
  font-family: var(--font-family-additional);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo--accent {
  color: var(--accent-color);
}

.page-footer__logo {
  padding: 0;
  color: var(--white-color);
}

.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--second-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/herobackground.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  display: block;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  min-width: 200px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.advantages {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 0;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.advantages__item {
  width: 270px;
}

.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__icon {
  background-color: var(--primary-bg-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantages__svg {
  width: 70px;
  height: 70px;
}

.advantages__subtitle {
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  line-height: 1.71;
}

.works {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.works__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.works__item {
  width: 370px;
}

.works__item + .works__item {
  margin-left: 30px;
}

/* прибираємо зазор 4px в img */
.works__image {
  display: block;
  width: 370px;
  height: 294px;
}

.work-wrapper {
  position: relative;
}

.work-text-wrapper {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background-color: var(--work-text-bg-color);
}

.works__text {
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.team {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.team__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* прибираємо зазор 4px в img */
.team__image {
  display: block;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.team__item {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item + .team__item {
  margin-left: 30px;
}

.team-card-wrapper {
  padding: 30px 0;
}

.team__card-title {
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__card-text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social-linklist {
  margin-left: 32px;
}

.team__social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: none;
  color: var(--icon-color);
  width: 44px;
  height: 44px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link + .team__social-link {
  margin-left: 10px;
}

.team__social-link:hover, .team__social-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.team__social-icon {
  fill: currentColor;
}

/*         section     clients      */
.clients {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.clients__item {
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 15px 31px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.page-footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__address {
  font-style: normal;
}

.page-footer__map {
  display: block;
  margin-top: 20px;
  color: var(--white-color);
  text-decoration: none;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__map:hover, .page-footer__map:focus {
  color: var(--accent-color);
}

.page-footer__contact-date {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__contact-date:hover, .page-footer__contact-date:focus {
  color: var(--accent-color);
}

/*  іконки в футері  */
.page-footer__social-linklist {
  margin-left: 70px;
  margin-top: 15px;
}

.page-footer__join {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-footer__social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__social-link + .page-footer__social-link {
  margin-left: 10px;
}

.page-footer__social-link:hover, .page-footer__social-link:focus {
  background-color: var(--accent-color);
}

.page-footer__social-icon {
  fill: currentColor;
}

/* форма в футері */
.page-footer-form {
  margin-left: 93px;
  margin-top: 15px;
}

.page-footer__signup {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-footer__input-form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--input-form-footer-color);
  background-color: var(--second-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
}

.page-footer__input-form::-webkit-input-placeholder {
  color: var(--input-form-footer-color);
  font-size: 16px;
  line-height: 1.25;
}

.page-footer__input-form:-ms-input-placeholder {
  color: var(--input-form-footer-color);
  font-size: 16px;
  line-height: 1.25;
}

.page-footer__input-form::-ms-input-placeholder {
  color: var(--input-form-footer-color);
  font-size: 16px;
  line-height: 1.25;
}

.page-footer__input-form::placeholder {
  color: var(--input-form-footer-color);
  font-size: 16px;
  line-height: 1.25;
}

.page-footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  margin-left: 11px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.page-footer__signup-icon {
  fill: var(--white-color);
  margin-left: 10px;
}

/* Модальне вікно  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--modal-backdrope-bg-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  padding: 0;
  margin: 0;
  border: 0;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-in {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
}

.modal__svg-button {
  fill: var(--black-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-in:hover > .modal__svg-button,
.modal__button-in:focus > .modal__svg-button {
  fill: var(--accent-color);
}

/*      Форма в модальному вікні     */
.form-modal {
  padding: 40px;
}

.modal__form-title {
  margin-bottom: 20px;
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__form-field:nth-child(1) {
  margin-top: 12px;
}

.modal__form-field + .modal__form-field {
  margin-top: 10px;
}

.modal__form-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal__form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__form-input {
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  border: 1px solid;
  border-color: var(--accent-color);
  border-radius: 4px;
}

.modal__form-input-comment {
  height: 120px;
  padding: 12px 16px;
}

.modal__form-input-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--input-form-modal-color);
}

.modal__form-input-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--input-form-modal-color);
}

.modal__form-input-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--input-form-modal-color);
}

.modal__form-input-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--input-form-modal-color);
}

.modal__svg-field {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus + .modal__svg-field,
.modal__form-input:not(:placeholder-shown) + .modal__svg-field {
  fill: var(--accent-color);
}

.modal__form-checkbox {
  margin-left: 12px;
  margin-bottom: 30px;
}

.modal__form-label-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.text-label-checkbox {
  margin-left: 3px;
  color: var(--accent-color);
  -webkit-text-decoration: underline var(--accent-color);
          text-decoration: underline var(--accent-color);
}

.modal__icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--black-color);
  border-radius: 2px;
  background-color: var(--white-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input-checkbox:checked + .modal__icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal__button-submit {
  width: 200px;
  padding: 10px 55px 10px 56px;
  border: 0;
  border-radius: 4px;
  margin-left: 124px;
  margin-right: auto;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Сторінка Портфолио */
.examples {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
  list-style: none;
}

.examples__button-item:nth-child(1) {
  width: 73px;
}

.examples__button-item + .examples__button-item {
  margin-left: 8px;
}

.examples__button {
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__button:hover, .examples__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.examples__button--current {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.examples__button-item:hover > .examples__button,
.examples__button-item:focus > .examples__button {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/*  container for flex */
.examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  list-style: none;
}

.project {
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.project__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* прибираємо зазор 4px в img */
.project__image {
  display: block;
}

.project-content {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project__title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__field {
  margin: 0px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
}

/*   Синій оверлей с текстом на карточках сторінки Портфолио  */
.project-image-wrapper {
  position: relative;
}

.project-text-wrapper {
  position: absolute;
  top: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: var(--project-image-overley-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text-wrapper--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.project__link:hover .project-text-wrapper--is-hidden {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__text {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}
/*# sourceMappingURL=main.css.map */