:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --second-bg-color: #2F303A;
  --icon-color: #AFB1B8;
  --black-color: #000;
  --work-text-bg-color: rgba(47, 48, 58, 0.8);
  --modal-backdrope-bg-color: rgba(0, 0, 0, 0.2);
  --project-image-overley-color: rgba(33, 150, 243, 0.9);
  --input-form-footer-color: rgba(255, 255, 255, 0.6);
  --input-form-modal-color: rgba(117, 117, 117, 0.5);
  
  --font-family-base: Roboto, sans-serif;
  --font-family-additional: Raleway, sans-serif;
}