.advantages { 

  margin-left: auto;
  margin-right: auto;
  
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px; }
  

  @media screen and (min-width: 1200px) { 
    padding-top: 94px;
    
    }

}

.advantages__title--visually-hidden {

  @extend %visually-hidden;
  
}

.advantages__list {
  
  list-style: none;

  @media screen and (min-width: 768px) { 
  display: flex;}

  @media screen and (min-width: 768px) and (max-width: 1199px) {  
  flex-wrap: wrap; 
  margin: -15px;}

}

.advantages__item {

  @media screen and (max-width: 767px) {
  max-width: 450px;

  &:not(:last-child) {
  margin-bottom: 30px; } }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  width: calc((100% - 2 * 30px) / 2);
  height: 251px;
  margin: 15px; }
  

  @media screen and (min-width: 1200px) { 
  width: 270px;
 
  & + & {
  margin-left: 30px;} }

}

.advantages__icon { 
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-bg-color);
  
  height: 120px;
  margin-bottom: 30px;
}

.advantages__svg { 
  width: 70px;
  height: 70px;
}


.advantages__subtitle {
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  line-height: 1.71;
}
