.hero { 

  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  
  background-color: var(--second-bg-color);
  background-image: linear-gradient( 
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4) 
  ), 
  url("../images/herobackground.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.hero__title {

  display: block;

  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto; 

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

}

.hero__button {

  min-width: 200px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

}